#canvas{
    display: none;
    
}
/* #bridge1, #bridge2 {
    position: relative;
    display: none;
}
#blast{
    height: 500px;
    width: 500px;
} */
.landing-page{
    position: absolute;
}

body {
    background-image: url("../assets/contraMainBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
    
}
.landing-page>div{
    display: flex;
    align-items: flex-start;
}
header{
    display: flex;
    align-items: flex-start;
    
}
header > h1 {
    color:rgb(105, 105, 245);
    margin: 2vh;
    text-align: center;
    font-size: 4rem;
    display: inline; 
}

.siIcon {
    height: 12vh;
    float: left;
}
.landing-page>.buttons>.button,body > div > div.buttons > a > button{
    border: none;
    color: red;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; 
    margin: 4px 20px; 
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    background-image: linear-gradient(to right, #35155D, #2B2B2B); 
}

.landing-page>.buttons>.button1 {
    color: whitesmoke;
    border: none;
}

.landing-page>.buttons>.button1:hover {
    color: whitesmoke;
    background-image: linear-gradient(to right, #C70039,#F94C10,#F8DE22); 
}

body > div > div.buttons > a > button {
    color: whitesmoke;
    border: none;
}

body > div > div.buttons > a > button:hover {
    color: whitesmoke;
    background-image: linear-gradient(to right, #C70039,#F94C10,#F8DE22); 
}
.landing-page>.buttons{
    margin-left: 15vw;
}

@keyframes scaleInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


body > div.landing-page > div:nth-child(1) > img {
    animation: scaleInOut 3s infinite;
}
body > div > div.buttons > button.button1.button,body > div > div.buttons > a > button {
    transition: transform 0.3s ease-in-out;
}

body > div > div.buttons > button.button1.button:hover {
    transform: scale(1.2); 
}
body > div > div.buttons > a > button:hover {
    transform: scale(1.2); 
}
.gameOver {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Press Start 2P', cursive;
}

.gameOver h1 {
    font-size: 3vw;
    color: whitesmoke;
}

.gameOver h2 {
    font-size: 3vw;
    color: whitesmoke;
}

.gameOver h3 {
    font-size: 4vw;
    color: whitesmoke;
}

body > div.gameOver > div > button{
    border: none;
    color: whitesmoke;
    font-size: 4vw; 
    margin: 1rem; 
    background: none;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

body > div.gameOver > div > button:hover {
    text-decoration: none; 
    background-color: white;
    color: red;
    background-color: transparent;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .playerScore{
    animation: blink 1s infinite; 
  }
  .highScore{
    animation: blink 2s infinite; 
  }